@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.add {
  header {
    position: relative;
    padding: 0 10px;
    @include clearfix;

    .header_left {
      cursor: pointer;
      line-height: 44px;
      float: left;
      font-size: 24px;
      color: #fff;
      font-weight: 400;
    }

    .header_title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      line-height: 44px;
      font-size: 24px;
      color: #fff;
      font-weight: 400;
    }

    .header_right {
      line-height: 44px;
      float: right;
    }
  }

  .add_form {
    margin-top: 20px;
    padding: 0 4vw;
  }

  .add_btn-grounp {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .add {

    .header_right,
    .header_left {
      display: none;
    }

    .add_btn-grounp {
      display: block !important;
    }
  }
}
