@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.question-item-container {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 16px;
  border-bottom: solid 1px #c0c0c0;
  cursor: pointer;
}

.question-item-footer {
  font-size: 14px;
  color: #666;

  @include clearfix;
}

.question-item-footer .question-item-footer-left {
  float: left;

  div {
    display: inline-block;
  }
}

.question-item-footer .question-item-footer-right {
  float: right;
}

.question-item-header {
  height: 18px;
  font-family: 'Arial Negreta', 'Arial';
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  color: #259;
  text-align: left;
  margin-bottom: 5px;
}

.question-item-description {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  font-family: 'Arial Negreta', 'Arial';
  margin-bottom: 9px;
}

.question-item-description .show-all-desc {
  color: #259;
  font-family: 'Arial Normal', 'Arial';
  font-size: 13px;
  line-height: normal;
  display: inline;
  margin: 0 5px;
  cursor: pointer;
}

.question-item-timestamp {
  margin: 0 8px;
}
